.container {
  overflow-x: auto;
}

.expandable {
  cursor: pointer;
  width: 100%;
}

.iconButton {
  padding: 0.25rem;
  margin-right: 0.5rem;
}

.childRowContent {
  padding-left: 2.5rem;
  color: var(--neutral-600);
}
