.card {
  gap: 1rem;
}

.validated {
  color: var(--warning);

  &.success {
    color: var(--success-100);
  }
}

.progressBar {
  background: var(--warning);

  &.success {
    background: var(--success-100);
  }
}

.helpIcon {
  cursor: pointer;
  color: var(--primary-500);

  &:hover {
    color: var(--primary-800);
  }
}
