# Database
DATABASE_URL="postgresql://count:count@localhost:5432/count"

# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=6f6ead61ee956b96440eda595bc3e656005cfd4ae3399c9116239adc7666daa2

# Mail
MAIL_HOST=0.0.0.0
MAIL_PORT=1025
MAIL_USER=dev@count.local
MAIL_PASSWORD=

# Links
NEXT_PUBLIC_SUPPORT_EMAIL=support@devethik.fr
NEXT_PUBLIC_FAQ_LINK=https://association-pour-la-transition-1.gitbook.io/bc+/faq-count
NEXT_PUBLIC_ABC_SITE=https://abc-transitionbascarbone.fr/association-pour-la-transition-bas-carbone/
NEXT_PUBLIC_FORMATION_URL=https://abc-transitionbascarbone.fr/agir/se-former-au-bilan-carbone/
NEXT_PUBLIC_ACTORS_URL=https://abc-transitionbascarbone.fr/les-acteurs/annuaire-des-prestataires/

# INSEE SIRET
INSEE_SIRENE_API_URL=https://api.insee.fr/api-sirene/3.11/siret/
INSEE_SIRENE_API_SECRET=

# Emission-factors
EF_SOURCES_IMPORT=BaseEmpreinte,Legifrance,CUT
EF_LEGIFRANCE_VERSION=
EF_BASE_EMPREINTE_VERSION=
