POSTGRES_PRISMA_URL="postgresql://bilancarbone:bilancarbone@localhost:5432/bilancarbone?options=-c search_path=bilan_carbone,common"

NODE_ENV=development

NEXTAUTH_SECRET=<secret>
NEXTAUTH_URL=http://localhost:3000

ADMIN_PASSWORD=<pwd>

MAIL_USER=user@email.com
MAIL_PASSWORD=test
MAIL_HOST=0.0.0.0
MAIL_PORT=1025
CONTACT_EMAIL=contact@associationbilancarbone.fr
CONTACT_FORM_URL=https://abc-transitionbascarbone.fr/contact-et-hotline

CUT_MAIL_USER=user@email.com
CUT_MAIL_PASSWORD=test
CUT_MAIL_HOST=0.0.0.0
CUT_MAIL_PORT=1025
CUT_CONTACT_FORM_URL=https://abc-transitionbascarbone.fr/contact-et-hotline

NEXT_PUBLIC_SUPPORT_EMAIL=support@abc-transitionbascarbone.fr
NEXT_PUBLIC_CUT_SUPPORT_EMAIL=support@abc-transitionbascarbone.fr
NEXT_PUBLIC_CLICKSON_SUPPORT_EMAIL=pebc@clickson.eu
NEXT_PUBLIC_FAQ_LINK=<faq_link>
NEXT_PUBLIC_EN_FAQ_LINK=
NEXT_PUBLIC_CUT_FAQ_LINK=<faq_link>
NEXT_PUBLIC_ABC_SITE=https://abc-transitionbascarbone.fr/association-pour-la-transition-bas-carbone/
NEXT_PUBLIC_FORMATION_URL=https://abc-transitionbascarbone.fr/agir/se-former-au-bilan-carbone/
NEXT_PUBLIC_ACTORS_URL=https://abc-transitionbascarbone.fr/les-acteurs/annuaire-des-prestataires/

NEXT_PUBLIC_ABC_TILT_LINK=https://abc-transitionbascarbone.fr/transition-association-abc-tilt/

FTP_HOST=<ftp_host>
FTP_USER=<ftp_user>
FTP_PASSWORD=<ftp_password>
FTP_FILE_NAME=<ftp_file_name>
FTP_FILE_PATH=<ftp_file_path>
FTP_TRAINING_SESSIONS_FILE_NAME=<ftp_training_sessions_file_name>
FTP_TRAINING_SESSIONS_FILE_PATH=<ftp_training_sessions_file_path>
FTP_PORT=<ftp_port>

SCW_ACCESS_KEY=<access_key>
SCW_SECRET_KEY=<secret_key>
SCW_BUCKET_NAME=<bucket_name>
SCW_REGION=<region>

NEXT_PUBLIC_FORMATION_TYPEFORM_ID=<form_id>
NEXT_PUBLIC_FORMATION_TYPEFORM_DURATION=3600000
NEXT_PUBLIC_FEEDBACK_TYPEFORM_ID=<form_id>
NEXT_PUBLIC_CUT_FEEDBACK_TYPEFORM_ID=172800000
NEXT_PUBLIC_TILT_FEEDBACK_TYPEFORM_ID=172800000
NEXT_PUBLIC_CLICKSON_FEEDBACK_TYPEFORM_ID=172800000
NEXT_PUBLIC_CUT_FEEDBACK_TYPEFORM_LINK=172800000
NEXT_PUBLIC_RESULTS_FEEDBACK_TYPEFORM_ID=<form_id>

NO_CACHE=true

CYPRESS_URL=http://localhost:3000

PDF_SERVICE_URL=<pdf_service_url>
PDF_SERVICE_API_SECRET=<pdf_service_api_secret>
PDF_JWT_SECRET=<pdf-jwt-key>

STUDY_FLOW_EXAMPLE_KEY=<your_scw_key>
DEPENDENCY_MATRIX_EXAMPLE_KEY=<your_scw_key>
SCW_CUT_METHOD_KEY=methodologie_count.pdf
SCW_RESILIO_METHOD_KEY=methodologie_resilio.pdf
SCW_FR_REPORT_TEMPLATE_KEY=report_template.docx
SCW_EN_REPORT_TEMPLATE_KEY=report_template_en.docx
LOCAL_REPORT_TEMPLATE_PATH=/path/to/report_template.docx

INSEE_SERVICE_URL=https://api.insee.fr/api-sirene/3.11/siret/
INSEE_API_SECRET=<insee_api_secret>

SCHOOL_API_URL=https://data.education.gouv.fr/api/explore/v2.1/catalog/datasets/fr-en-annuaire-education/records

CUT_FE_LEGIFRANCE_VERSION=<cut_fe_legifrance_version>
CUT_FE_BASE_EMPREINTE_VERSION=<cut_fe_base_empreinte_version>

BC_FE_SOURCES_IMPORT=BaseEmpreinte,Legifrance,NegaOctet,Manual,AIB,GIEC
TILT_FE_SOURCES_IMPORT=BaseEmpreinte,Legifrance,NegaOctet,Manual,AIB,GIEC
CUT_FE_SOURCES_IMPORT=BaseEmpreinte,Legifrance,CUT
CLICKSON_FE_SOURCES_IMPORT=BaseEmpreinte

STUDY_TEMPLATE_ORGANIZATION_ID=<duplicable_study_organization_id>

NEXT_PUBLIC_SNBC_URL=https://www.ecologie.gouv.fr/politiques-publiques/strategie-nationale-bas-carbone-snbc
NEXT_PUBLIC_SBTI_URL=https://sciencebasedtargets.org/net-zero

NEXT_PUBLIC_LICENSE_RENEWAL_LINK=https://abc-transitionbascarbone.fr/agir/adherer-a-labc
NEXT_LICENSE_RENEWAL_MONTH_START=12
NEXT_LICENSE_RENEWAL_MONTH_END=2

NEXT_PUBLIC_GHGP_ACTIVATION_DATE=2026-03-12

MEMBERSHIP_BLOCKING_DATE=15/02

NEXT_PUBLIC_TYPEFORM_DEPLACEMENTS_LINK=<typeform_deplacements_link>
NEXT_PUBLIC_SBTI_DOC_URL=https://sciencebasedtargets.org
NEXT_PUBLIC_SNBC_DOC_URL=https://www.ecologie.gouv.fr/strategie-nationale-bas-carbone-snbc

NEXT_API_URL=http://localhost:3000/api
CRON_SECRET=<cron_secret>

HOSTNAME=0.0.0.0
