# dependencies
node_modules/

# env
.env
.env.test

# Next.js
.next/
out/
next-env.d.ts

# generated
src/generated/
src/publicodes/rules/publicodes-build/
.swc/
*.tsbuildinfo

# tests
coverage/
cypress/screenshots/
cypress/videos/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
