.suggestions {
  margin-top: 0.5rem;
  position: absolute;
  width: calc(100% - 4rem);
  background-color: white;
  border: var(--border);
  border-radius: 0.5rem;
  z-index: 2;
  overflow: scroll;
  max-height: 16rem;
}

.suggestion {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  text-align: left;

  &:hover {
    background-color: var(--primary-50);
  }
}

.header {
  font-weight: 500;
}

.detail {
  font-size: 0.975rem;
  color: var(--neutral-500);
}

.inputContainer {
  position: relative;
  :global(.MuiFormControl-root) {
    width: 100%;
  }
}

.withSearch {
  :global(.MuiFormControl-root) {
    input {
      padding-right: 3rem;
    }
  }
}

.clear,
.search {
  position: absolute;
  top: 0.75rem;
  border-radius: 0.5rem;
  padding: 0.25rem;
  background-color: var(--background-150);
  border: none;
  cursor: pointer;
  height: 2rem;

  &:hover {
    background-color: var(--background-200);
    svg {
      color: var(--primary-800);
    }
  }
}

.search {
  right: 0.5rem;
}

.clear {
  right: 3rem;
}
