.stepperDots {
  width: 6rem !important;
  height: 0.8rem !important;
  border-radius: 0.4rem !important;
  background-color: var(--neutral-200) !important;

  &.small {
    width: 4rem !important;
    height: 0.6rem !important;
  }
}
