.path,
.arrowPath {
  fill: none;
  shape-rendering: crispEdges;
  stroke-width: 1;
  pointer-events: none;
}
.path {
  stroke: var(--grayscale-500);
  stroke-dasharray: 4 2;
}

.arrowPath {
  stroke: var(--mui-palette-grey-500);
}

.arrow {
  fill: var(--mui-palette-grey-500);
}

.multilineText {
  color: var(--mui-palette-grey-500);
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.2;
}
