.pieChart :global(text) {
  fill: var(--mui-palette-text-primary) !important;
  font-size: 1rem !important;
}

.pieChart :global(.MuiPieArcLabel-root) {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.chartTitle {
  font-size: 1rem !important;
  margin-top: -2rem !important;
  margin-bottom: 2rem !important;
}

.legendColor {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}
