.selectMenuPaper {
  width: auto !important;
  margin-left: 2rem;
  margin-right: 2rem;
}

.selectMenuPaper.normal {
  min-width: 100%;
  max-width: 100%;
}

.selectMenuItem {
  white-space: normal;
  min-height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  box-sizing: border-box;
}
