.container {
  border-radius: 0 0 1rem 1rem;
  border: var(--border);
  background: var(--background-100);
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  list-style: none;
}

.svg {
  color: var(--neutral-400);
}

.currentPage {
  color: var(--neutral-600);
  width: max-content;
  font-weight: 500;
}

.previousPage {
  flex-wrap: wrap;
  gap: 0.5rem;
}

.link {
  width: max-content;
  color: var(--primary-800) !important;

  &:hover {
    color: var(--primary-500) !important;
  }
}
